# See https://github.com/luggit/react-native-config#different-environments
# Rename me to .env, env.staging, env.production, etc
RN_NUK_NEW_RELIC_TOKEN_IOS=ASK_ON_SLACK
RN_NUK_NEW_RELIC_TOKEN_ANDROID=ASK_ON_SLACK
